@use '~@cloudscape-design/design-tokens/index.scss' as cloudscape-design;

.header {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: cloudscape-design.$color-background-home-header;
  font-family: 'Amazon Ember', 'Helvetica Neue', Roboto, Arial, sans-serif;
}
