@use '~@awsui/design-tokens/index.scss' as awsui;

.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0;
  background: awsui.$color-background-home-header;
  font-family: 'Amazon Ember', 'Helvetica Neue', Roboto, Arial, sans-serif;
}
