## Note:
## Please deploy the swb-reference package before running the integration test suite.
## Settings declared here are merged with the main accounts CFN outputs to create integration test config items

# Default Env Config for launching a new environment
#envTypeId: ''
#envTypeConfigId: ''
#projectId: ''
#envType: ''

# Negative Testing
#terminatedEnvId: ''   # id of an environment that has already been terminated

#Cognito Integ Test Client
#rootUsername: ''
#rootPasswordParamStorePath: ''
