#
#  Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
#  SPDX-License-Identifier: Apache-2.0
#

name: Deploy-and-integration-test-swb-reference
on:
  workflow_call:
    secrets:
      aws-dev-region:
        required: true
      role-to-assume:
        required: true
      aws-dev-account-region:
        required: true
      slack_webhook_url:
        required: true
      CYPRESS_ADMIN_PASSWORD:
        required: true
      CYPRESS_ADMIN_USER:
        required: true
      HOSTED_ZONE_ID:
        required: true

jobs:
# deploy only when files specific to swb package changed
  deploy-and-integration-test-swb-reference:
    runs-on: ubuntu-20.04
    environment: dev
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Base Action
        uses: ./.github/actions/baseAction

      - name: Configure AWS Credentials
        # if: steps.changed-swb-files.outputs.any_changed == 'true'
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ secrets.aws-dev-region }}
          role-to-assume: ${{ secrets.role-to-assume }}
          role-session-name: OIDCSessionName

      - name: Enter config settings from GH secrets
        shell: bash
        run: |
          echo "
          hostedZoneId: ${{ secrets.HOSTED_ZONE_ID }}" >> "../../solutions/swb-reference/src/config/testEnv.yaml"

      - name: Deploy SWB-Reference
        # if: steps.changed-swb-files.outputs.any_changed == 'true'
        run: |
          cd solutions/swb-reference
          node ../../common/scripts/install-run-rushx.js compile
          STAGE='testEnv' node ../../common/scripts/install-run-rushx.js cdk bootstrap ${{ secrets.aws-dev-account-region }} -v
          STAGE='testEnv' node ../../common/scripts/install-run-rushx.js cdk-deploy
          STAGE='testEnv' node ../../common/scripts/install-run-rushx.js run-postDeployment

      - name: Deploy SWB-UI
        # if: steps.changed-swb-files.outputs.any_changed == 'true'
        run: |
          cd solutions/swb-ui/ui
          STAGE='testEnv' node ../../../common/scripts/install-run-rushx.js deploy-ui-and-api

      - name: Run Integration tests
        # if: steps.changed-swb-files.outputs.any_changed == 'true'
        run: |
          cd solutions/swb-reference
          STAGE='testEnv' node ../../common/scripts/install-run-rushx.js integration-tests

      - name: Run End To End tests
        # if: steps.changed-swb-files.outputs.any_changed == 'true'
        run: |
          cd solutions/swb-ui/ui
          STAGE='testEnv' node ../../../common/scripts/install-run-rushx.js e2e-test
        env:
          # Env parameters for cypress tests need header 'CYPRESS_' or 'cypress_'
          # Cypress will strip the header and pass it to the tests
          CYPRESS_AdminPassword: ${{ secrets.CYPRESS_ADMIN_PASSWORD }}
          CYPRESS_AdminUser: ${{ secrets.CYPRESS_ADMIN_USER }}

      - name: Slack Failure Notification
        if: failure()
        uses: ./.github/actions/notification
        with:
          slack_webhook_url: ${{ secrets.slack_webhook_url }}
