#
#  Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
#  SPDX-License-Identifier: Apache-2.0
#

name: Deploy-swb-reference-demo
on:
  workflow_call:
    secrets:
      role-to-assume:
        required: true
      slack_webhook_url:
        required: true
      HOSTED_ZONE_ID:
        required: true
      DOMAIN_NAME:
        required: true

jobs:
  # deploy only when files specific to swb package changed
  deploy-swb-ref-demo:
    runs-on: ubuntu-20.04
    environment: dev
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Base Action
        uses: ./.github/actions/baseAction

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-2
          role-to-assume: ${{ secrets.role-to-assume }}
          role-session-name: OIDCSessionName

      - name: Enter config settings from GH secrets
        shell: bash
        run: |
          echo "
          hostedZoneId: ${{ secrets.HOSTED_ZONE_ID }}
          domainName: ${{ secrets.DOMAIN_NAME }}" >> "solutions/swb-reference/src/config/demo.yaml"

      - name: Deploy SWB-reference Demo
        run: |
          cd solutions/swb-reference
          node ../../common/scripts/install-run-rushx.js compile
          STAGE='demo' node ../../common/scripts/install-run-rushx.js cdk bootstrap
          STAGE='demo' node ../../common/scripts/install-run-rushx.js cdk-deploy
          STAGE='demo' node ../../common/scripts/install-run-rushx.js run-postDeployment

      - name: Slack Failure Notification
        if: failure()
        uses: ./.github/actions/notification
        with:
          slack_webhook_url: ${{ secrets.slack_webhook_url }}
