#
#  Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
#  SPDX-License-Identifier: Apache-2.0
#

# This workflow enables branch protection when a branch name containing 'feat/' is created
name: "enable feat protection"
on:
  create

jobs:
  enable-feat-branch-protection:
    if: startsWith(github.ref_name, 'feat/')
    runs-on: ubuntu-20.04
    steps:
      - name: 'Construct required_pull_request_reviews object'
        id: pr_review
        run: |
          required_pr_reviews_json="$(cat <<EOF
          { "require_code_owner_reviews": true, "dismiss_stale_reviews": true, "required_approving_review_count": 1 }
          EOF
          )"
          echo "::set-output name=required_pr_reviews::${required_pr_reviews_json}"

      - name: 'Construct required_status_checks object'
        id: status_check
        run: |
          require_status_check_json="$(cat <<EOF
          { "strict": true, "contexts": ['Only create PR against develop branch, not main branch', 'Only create PR against develop branch, not stage branch', 'Scan for secrets', 'Run cfn-nag scan', 'Validate PR title', 'build-and-test', 'license-checker'] }
          EOF
          )"
          echo "::set-output name=require_status_check::${require_status_check_json}"

      - name: 'Construct restrictions object'
        id: gh_restrictions
        run: |
          restrictions_json="$(cat <<EOF
          null
          EOF
          )"
          echo "::set-output name=restrictions::${restrictions_json}"

      - name: Enable branch protection on feat/*
        uses: octokit/request-action@v2.x
        with:
          route: PUT /repos/{owner}/{repo}/branches/{branch}/protection
          owner: aws-solutions
          repo: solution-spark-on-aws
          branch: ${{ github.ref_name }}
          enforce_admins: true
          required_pull_request_reviews: '${{ steps.pr_review.outputs.required_pr_reviews }}'
          required_status_checks: '${{ steps.status_check.outputs.require_status_check }}'
          restrictions: '${{ steps.gh_restrictions.outputs.restrictions }}'
        env:
          GITHUB_TOKEN: ${{ secrets.MERGE_TOKEN }}
