#
#  Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
#  SPDX-License-Identifier: Apache-2.0
#

name: Merge-develop-to-stage
on:
  push:
    branches:
      - 'develop'

jobs:
  readme-commit:
    uses: aws-solutions/solution-spark-on-aws/.github/workflows/readme-commit.yml@develop
    secrets:
      gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
      passphrase: ${{ secrets.PASSPHRASE }}
      merge-token: ${{ secrets.MERGE_TOKEN }}
      bot-user: ${{ secrets.BOT_USER }}
      bot-user-email: ${{ secrets.BOT_USER_EMAIL }}
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK }}

  pre-deployment-check:
    name: Pre deployment check
    runs-on: ubuntu-18.04
    timeout-minutes: 10
    steps:
      - name: "Block Concurrent Deployments"
        uses: softprops/turnstyle@v1
        with:
          poll-interval-seconds: 10
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  deploy-swb-reference:
    needs: [pre-deployment-check]
    uses: aws-solutions/solution-spark-on-aws/.github/workflows/deploy-integration-swb-reference.yml@develop
    secrets:
      aws-dev-region: ${{ secrets.AWS_DEV_REGION }}
      role-to-assume: ${{ secrets.ASSUME_ROLE }}
      aws-dev-account-region: ${{ secrets.AWS_DEV_ACCOUNT_REGION }}
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK }}
      CYPRESS_ADMIN_PASSWORD: ${{ secrets.CYPRESS_ADMIN_PASSWORD }}
      CYPRESS_ADMIN_USER: ${{ secrets.CYPRESS_ADMIN_USER }}
      HOSTED_ZONE_ID: ${{ secrets.HOSTED_ZONE_ID_TEST }}
      DOMAIN_NAME: ${{ secrets.DOMAIN_NAME_TEST }}

  deploy-swb-reference-byon:
    needs: [pre-deployment-check]
    uses: aws-solutions/solution-spark-on-aws/.github/workflows/deploy-integration-swb-reference-byon.yml@develop
    secrets:
      aws-dev-region: ${{ secrets.AWS_DEV_REGION_BYON }}
      role-to-assume: ${{ secrets.ASSUME_ROLE }}
      aws-dev-account-region: ${{ secrets.AWS_DEV_ACCOUNT_REGION_BYON }}
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK }}
      CYPRESS_ADMIN_PASSWORD: ${{ secrets.CYPRESS_ADMIN_PASSWORD_BYON }}
      CYPRESS_ADMIN_USER: ${{ secrets.CYPRESS_ADMIN_USER_BYON }}
      COGNITO_DOMAIN: ${{ secrets.COGNITO_DOMAIN_BYON }}
      USER_POOL_ID: ${{ secrets.USER_POOL_ID_BYON }}
      CLIENT_ID: ${{ secrets.CLIENT_ID_BYON }}
      CLIENT_SECRET: ${{ secrets.CLIENT_SECRET_BYON }}
      VPC_ID: ${{ secrets.VPC_ID_BYON }}
      ALB_SUBNET_1: ${{ secrets.ALB_SUBNET_1_BYON }}
      ALB_SUBNET_2: ${{ secrets.ALB_SUBNET_2_BYON }}
      ECS_SUBNET_1: ${{ secrets.ECS_SUBNET_1_BYON }}
      ECS_SUBNET_2: ${{ secrets.ECS_SUBNET_2_BYON }}
      HOSTED_ZONE_ID: ${{ secrets.HOSTED_ZONE_ID_BYON }}

  deploy-swb-demo:
    needs: [deploy-swb-reference]
    uses: aws-solutions/solution-spark-on-aws/.github/workflows/deploy-swb-reference-demo.yml@develop
    secrets:
      role-to-assume: ${{ secrets.ASSUME_ROLE }}
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK }}
      HOSTED_ZONE_ID: ${{ secrets.HOSTED_ZONE_ID_DEMO }}
      DOMAIN_NAME: ${{ secrets.DOMAIN_NAME_DEMO }}

  deploy-example-app:
    needs: [pre-deployment-check]
    uses: aws-solutions/solution-spark-on-aws/.github/workflows/deploy-integration-example-app.yml@develop
    secrets:
      aws-test-region: ${{ secrets.AWS_TEST_REGION }}
      test-role-to-assume: ${{ secrets.TEST_ASSUME_ROLE }}
      aws-test-account-region: ${{ secrets.AWS_TEST_ACCOUNT_REGION }}
      slack_webhook_url: ${{ secrets.SLACK_WEBHOOK }}

  merge-develop-to-stage:
    name: Merge develop to stage
    runs-on: ubuntu-20.04
    needs: [readme-commit, deploy-swb-reference, deploy-example-app, deploy-swb-reference-byon]
    env:
      COMMIT_HASH: "${{ needs.readme-commit.outputs.commit_hash }}"
      CHANGES_DETECTED: "${{ needs.readme-commit.outputs.changes_detected }}"
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.MERGE_TOKEN }}
          fetch-depth: 0

      # There's no way for github actions to push to a protected branch. This is a workaround
      # See https://github.community/t/how-to-push-to-protected-branches-in-a-github-action/16101/30
      - name: Temporarily disable branch protection on stage
        uses: octokit/request-action@v2.x
        with:
          route: DELETE /repos/{owner}/{repo}/branches/{branch}/protection/enforce_admins
          owner: aws-solutions
          repo: solution-spark-on-aws
          branch: stage
        env:
          GITHUB_TOKEN: ${{ secrets.MERGE_TOKEN }}

      - name: enable merge commits
        uses: octokit/request-action@v2.x
        with:
          route: PATCH /repos/{owner}/{repo}
          owner: aws-solutions
          repo: solution-spark-on-aws
          allow_merge_commit: true
        env:
          GITHUB_TOKEN: ${{ secrets.MERGE_TOKEN }}

      - name: Merge to stage
        run: |
          echo "Set the COMMIT_ID to merge to stage, to current workflow commit id, if no readme commit was made"
          echo "Else"
          echo "Set the COMMIT_ID to README commit id"
          COMMIT_ID=''
          if $CHANGES_DETECTED; then
            COMMIT_ID=$COMMIT_HASH
          else
            COMMIT_ID=$GITHUB_SHA
          fi
          git checkout stage
          echo
          echo "  Attempting to merge the 'develop' branch ($COMMIT_ID)"
          echo "  into the 'stage' branch ($(git log -1 --pretty=%H stage))"
          echo
          git merge $COMMIT_ID --ff-only --no-edit
          git push origin stage

      - name: disable merge commits
        uses: octokit/request-action@v2.x
        with:
          route: PATCH /repos/{owner}/{repo}
          owner: aws-solutions
          repo: solution-spark-on-aws
          allow_merge_commit: false
        env:
          GITHUB_TOKEN: ${{ secrets.MERGE_TOKEN }}

      - name: Enable branch protection on stage
        uses: octokit/request-action@v2.x
        if: always() # Make sure to enable branch protection even if other steps fail
        with:
          route: POST /repos/{owner}/{repo}/branches/{branch}/protection/enforce_admins
          owner: aws-solutions
          repo: solution-spark-on-aws
          branch: stage
        env:
          GITHUB_TOKEN: ${{ secrets.MERGE_TOKEN }}

      - name: Slack Failure Notification
        if: failure()
        uses: ./.github/actions/notification
        with:
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK }}
