#
#  Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
#  SPDX-License-Identifier: Apache-2.0
#

name: Secret-scan
on: ['pull_request']

jobs:
  scan-for-secrets:
    name: Scan for secrets
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run Git Secrets
        run: node common/scripts/install-run-rush.js git-secrets-scan

      - name: Print remediation message
        if: failure()
        run: echo "git secrets found potential leaked credentials. If ANY credentials were committed, they MUST be immediately revoked."